.scroll-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  padding: 2rem 0rem;
  overflow: hidden;
}

.scroll-content-right {
  display: flex;
  animation: scrollAnimationRight 25s linear infinite;
}

.scroll-content-left {
  display: flex;
  animation: scrollAnimationLeft 20s linear infinite;
}

@keyframes scrollAnimationRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollAnimationLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@media (max-width: 795px) {
  .custom-headin-1 {
    font-size: 18px !important;
    line-height: 24px !important;
  }
  .custom-para {
    font-size: 12px !important;
    line-height: 20px !important;
  }

  .custom-main-heading {
    font-size: 22px !important;
    line-height: 30px !important;
  }
  .custom-main-para {
    font-size: 13px !important;
    line-height: 20px !important;
  }
}
