.infi-container-right,
.infi-container-left {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding: 2rem 0rem;
}

.infi-container-right:before,
.infi-container-right:after {
  content: "";
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  z-index: 2;
}

.infi-container-left:before,
.infi-container-left:after {
  content: "";
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  z-index: 2;
}

.infi-container-right:hover .infi-content-right {
  animation-play-state: paused;
}

.infi-container-left:hover .infi-content-left {
  animation-play-state: paused;
}

.infi-content-right {
  display: inline-flex;
  gap: 24px;
  animation: scrollAnimationRight 20s linear infinite;
}

.infi-content-left {
  display: inline-flex;
  gap: 24px;
  animation: scrollAnimationLeft 20s linear infinite;
}

@keyframes scrollAnimationRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollAnimationLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media (max-width: 795px) {
  .custom-headin-1 {
    font-size: 18px !important;
    line-height: 24px !important;
  }
  .custom-para {
    font-size: 12px !important;
    line-height: 20px !important;
  }

  .custom-main-heading {
    font-size: 22px !important;
    line-height: 30px !important;
  }
  .custom-main-para {
    font-size: 13px !important;
    line-height: 20px !important;
  }
}
